* {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

.container {
    margin: auto;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding-top:20px;
}

img.user {
    border-radius: 50%;
    width: 35px;
    margin-right: 30px;
}

.nav {
    margin-left: 10px;
}

a.nav {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size:13px;
}

.search-area {
    margin: 0 auto;
    width: 582px;
    margin-top: 7%;
}

.searchform {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 100%;
}

.google {
    background-color: transparent;
    border: none;
    margin: 0 auto;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    margin-top: 4px;
    font-size: 16px;
    width: 80%;
}

.btn-group {
    text-align: center;
}

.btn {
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.logo {
    display: block;
    width: 272px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.language {
    text-align: center;
}

.footer {
    background-color:#f2f2f2;
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 100px;
}

.country {
    height: 50%;
}

.links {
}

.links-left {
    float: left;
}

.links-right {
    float: right;
}